@{
    ViewData["Title"] = "Nathing to say";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>
<h4>@ViewData["Nothing"]</h4>

<p>My name is @ViewData["Name"]</p>

<p>Using this page for CSHTML tests.</p>

<address>
    <strong>More Informatio: </strong> <a href="https://www.udemy.com/">Udemy</a> 
</address>